<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>login.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDAO</servlet-name>
        <servlet-class>login.LoginDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEvent</servlet-name>
        <servlet-class>login.CreateEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDAO</servlet-name>
        <url-pattern>/LoginDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEvent</servlet-name>
        <url-pattern>/CreateEvent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
